<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
     @for(item of productos; track item){
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.email}}</td>
        <td>
          <a class="btn btn-warning" [routerLink]="['/autor', item.id]">Editar</a> 
          <button class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
        </td>
      </tr>
     }
    </tbody>
  </table>