<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
       
       
       

        @if( acceso == 'true' ){

          
          
          <li class="nav-item">
            <a class="nav-link" routerLink="">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gestion">Gestión</a>
          </li>
          <li>
            <button class="btn btn-danger" (click)="cerrar()">CERRAR</button>
          </li>
         
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registro">Registro</a>
          </li>
         
         
        }




      </ul>
    </div>
  </nav>